<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MediathekConsole.Properties.Settings.MediathekDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Web\Mediathek\MediathekConsole\App_Data\MediathekDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MediathekConsole.Properties.Settings.MediathekDatabaseConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\App_Data\MediathekDatabase.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>