<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessStore.Properties.Settings.MediathekDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Web\Mediathek\DataAccessStore\App_Data\MediathekDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>